:root{
    --colorFondo: #a8dadc;
    --negro: black;
    --fuente: 'Be Vietnam Pro', sans-serif;

}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2{
    font-size: var(--fuente);
    font-size: 2rem;
}


body{
    background-color: var(--colorFondo);
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 3rem;
}

.contenedor__titulo{
    margin-top: 25rem;
    text-align: center;
}

.titulo-input{
    text-align: center;
}

.input{
    border-radius: 1rem;
    border-color: var(--negro);
    width: 20rem;
}

.boton{
    height: 5rem;
    width: 20rem;
    margin: 2rem;
}




.footer{
    text-align: center;
}

